<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/auth.css" />
</head>
<body>
    <div class="main">
        <h1>Your graphs</h1>
        <div class="data">

            <!--Graphs:-->
            <div>
                <%history.forEach(function (item, i, arr) {%>
                <%if (i == arr.length-1) {%>
                    <p>Last graph:</p>
                    <img class="plot" src=<%=arr[i]%>>
                <%} else {%>
                    <a href="/<%=arr[i]%>">Graph #<%=i+1%></a><br>
                <%}%>
                <%})%>
            </div>
        </div>
        <a href="/">Main</a>
    </div>
</body>