<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Allah Akbar</title>
</head>
<body>
    <p>GO AHEAD, HIT THAT BUTTON. IT'S OK.</p>
    <form action="run">
        <input type="submit" value="Button">
    </form>
</body>
</html>
