<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>R-graph</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="./jquery/parameters.js"></script>
</head>
<body>

    <!--Head-->
    <div class="header">
        <div class="logoWrapper">
            <a href="http://localhost:3000/">
                <img src="./images/R_logo.png">
            </a>
        </div>
    </div>

    <!--Main page-->
    <div class="main">
        <!--Login-->
        <div>
            <% if (!user) { %>
            <p>Welcome! Please <a href="/login">log in</a>.</p>
            <p>Or <a href="/reg">sing up!</a>.</p>
            <% } else { %>
            <p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
        </div>



        <!--Post window-->
        <div class="post-header">
            <i class="fa fa-download"></i>
            Set graph parameters!
            <textarea class="rscript" rows="10" cols="45" id="plot_param" maxlength="2000"></textarea>
            <button class="btn" type="submit" id="submit">Run!</button>
        </div>

        <!--Graph part-->
        <div class="plot_container">
            <% if (exitCode == 0) { %>
            <img class="plot" src=<%=currFileName%>>
            <%} else if (exitCode == 1488) {%>
            <p>Graph should be here</p>
            <%} else if (exitCode == 322) {%>
            <p>Type something</p>
            <%} else {%>
            <p>Something went wrong</p>
            <%}%>
        </div>
    </div>
    <% } %>

    <!--Foot-->
    <!--<div class="footer">VjjdDev: © 2016</div>-->
</body>
</html>
