<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/auth.css" />
</head>
<body>
<div class="main">
    <h1>Profile</h1>
    <div class="data">
        <p>
            ID: <%= user.id %><br/>
            Username: <%= user.username %><br/>
            Email: <%= user.email %>
        </p>
    </div>
    <a href="/logout">Log out</a>
</div>
</body>



