<!--Exit Code. Practising.-->
<% if (exitCode == 1488) { %>
<p>In my cue.</p>
<%} else if (exitCode == 0) {%>
<p>So, you do know the difference!</p>
<a href="/login">
    Log in!
</a>
<%} else if (exitCode == 1) {%>
<p>Not quite my TEMPO!</p>
<%} else if (exitCode == 2) {%>
<p>Were you rushing or were you dragging?</p>
<%} else {%>
<p>Something went wrong..</p>
<%}%>

<!--Form-->
<form action="/reg" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
