#form label.error {
    color: red;
    font-weight: bold;
}
.exit {
    display: block;
    color: saddlebrown;
}
.main {
    width: 600px;
    margin: 2px auto;
}
.plot {
    width: 400px;
    height: 400px;
}